<section [ngClass]="{'loading':!tasKList.length }">

<ul *ngIf="tasKList.length" >
<li *ngFor="let item  of tasKList; let i = index " >
<input type="checkbox"  [(ngModel)] = "item.checked"   >
 <input type="text"   [(ngModel)] = "item.task" >
  <button (click)="deleteItemTasklist(i)">
    <img src="assets/icons/icon-trash.svg" alt="">
  </button>


</li>


</ul>


</section>


<app-todo-input-add-itens (emitItemTasklist)="setEmitTasklist($event)" ></app-todo-input-add-itens>
<app-todo-button-delete-all  *ngIf="tasKList.length" (click)="deletAllTasklist()" ></app-todo-button-delete-all>
